<style>
  .demo {
    display: flex;
    padding: 100px;
  }
  app-step-info {
    margin-right: 25px;
  }
</style>
<div class="demo">

  <app-step-info
    [stepIndex]="1"
    [title]="'Chef de Quart H2 titre long très long lorem ipsum'"
    [number]="12"
    [info]="'de parcours avec ce poste'"
  ></app-step-info>

  <app-step-info
    [stepIndex]="2"
    [title]="'Chef de Quart H2'"
    [number]="12"
    [info]="'de parcours avec ce poste'"
  ></app-step-info>

  <app-step-info
    [stepIndex]="3"
    [title]="'Chef de Quart H2 titre long'"
    [number]="12"
    [info]="'de parcours avec ce poste'"
  ></app-step-info>

  <app-step-info-highlight
    [icon]="'assets/icon/arrow.jpg'"
    [title]="'Chef de Quart H2 titre long'"
    [number]="12"
    [info]="'de parcours avec ce poste'"
  ></app-step-info-highlight>
</div>

