.step-info-hl-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  padding: 30px;
  background: #174094;
  text-align: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  color: white;

  p {
    font-weight: bold;
  }

  .step-info-hl__icon {
    position: absolute;
    top: -30px;
    left: 95px;
    width: 60px;
    height: 60px;
    background: white;
    border: 3px #174094 solid;
    border-radius: 100px;
    color: white;
    img {
      height: 40px;
      width: 40px;
      padding: 10px;
    }
  }

  .step-info-hl__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
  }

  .step-info-hl__text {
    margin: auto;
    width: 100px;
  }
}
