<div class="step-info-hl-container">
  <div class="step-info-hl__icon">
    <img [src]="icon" />
  </div>

  <h2 class="step-info-hl__title">{{ title }}</h2>
  <p>NP : {{ number }}</p>
  <p class="step-info-hl__text">{{ info }}</p>
</div>
