<div class="step-info-container">
  <div class="step-info__index">{{ stepIndex }}</div>

  <h2 class="step-info__title">{{ title }}</h2>
  <p class="step-info__number">NP : {{ number }}</p>
  <p class="step-info__text">{{ info }}</p>
</div>
