.step-info-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  padding: 30px;
  background: white;
  border-left: 5px #DC8A22 solid;
  text-align: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);

  .step-info__index {
    width: 60px;
    height: 60px;
    background: #174094;
    border-radius: 100px;
    position: absolute;
    top: -30px;
    left: 95px;
    color: white;
    font-size: 40px;
    line-height: 60px;
  }

  .step-info__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5395A;
    height: 85px;
  }

  .step-info__number {
    font-weight: bold;
  }

  .step-info__text {
    margin: auto;
    width: 100px;
    font-weight: bold;
    color: #7C7C7C;
  }
}
